.wrapper {

}

.ui-wrapper {
    padding: 30px;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
}

.input-component {
    margin: 0 20px;
}

.select span span {
    font-size: 20px !important;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
#canvas {
    border-radius: 10px;
}

.bet-button {
    display: block;
    text-align: center;
    margin: auto;
}

.button-wrapper{
    width: fit-content;
}

.interface-controls{
    display:flex;
    justify-content: center;
}